header h1{
    font-family: Helvetica;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: blueviolet;
}

div h1{
    font-family: Helvetica;
    font-size: 24px;
}

.class{
    font-family: Helvetica;
    font-size: 20px;
}